# Dependencies
node_modules/
node_modules

# Build
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/*.db
prisma/*.db-journal
